Name:Ankit Gaidhar

Practical_5_2

Roll_no:D2_28

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df=pd.read_csv('insurance.csv')

In [ ]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [ ]:
df['sex']=df['sex'].replace('female',0)
df['sex']=df['sex'].replace('male',1)

In [ ]:
df.head()

   age  sex     bmi  children smoker     region      charges
0   19    0  27.900         0    yes  southwest  16884.92400
1   18    1  33.770         1     no  southeast   1725.55230
2   28    1  33.000         3     no  southeast   4449.46200
3   33    1  22.705         0     no  northwest  21984.47061
4   32    1  28.880         0     no  northwest   3866.85520

In [ ]:
df['smoker']=df['smoker'].replace('yes',1)
df['smoker']=df['smoker'].replace('no',0)

In [ ]:
df.head()

   age  sex     bmi  children  smoker     region      charges
0   19    0  27.900         0       1  southwest  16884.92400
1   18    1  33.770         1       0  southeast   1725.55230
2   28    1  33.000         3       0  southeast   4449.46200
3   33    1  22.705         0       0  northwest  21984.47061
4   32    1  28.880         0       0  northwest   3866.85520

In [ ]:
# Get unique entries in the 'Category' column
unique_entries = df['region'].unique()
unique_entries

array(['southwest', 'southeast', 'northwest', 'northeast'], dtype=object)

In [ ]:
df.region=df.region.map({'northeast':1,'northwest':2,'southeast':3,'southwest':4})
df.region

0       4
1       3
2       3
3       2
4       2
       ..
1333    2
1334    1
1335    3
1336    4
1337    2
Name: region, Length: 1338, dtype: int64

In [ ]:
df

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       4  16884.92400
1      18    1  33.770         1       0       3   1725.55230
2      28    1  33.000         3       0       3   4449.46200
3      33    1  22.705         0       0       2  21984.47061
4      32    1  28.880         0       0       2   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    1  30.970         3       0       2  10600.54830
1334   18    0  31.920         0       0       1   2205.98080
1335   18    0  36.850         0       0       3   1629.83350
1336   21    0  25.800         0       0       4   2007.94500
1337   61    0  29.070         0       1       2  29141.36030

[1338 rows x 7 columns]

In [ ]:

from sklearn.model_selection import train_test_split

In [ ]:
X =df.drop(['charges'],axis='columns')  # Your feature data
Y =df.drop(['age','sex','bmi','children','smoker','region'],axis='columns')# Your target variable

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [ ]:
X_train.shape

(1070, 6)

In [ ]:
X_test.shape

(268, 6)

In [ ]:
from sklearn.linear_model import LinearRegression
reg= LinearRegression()
reg.fit(X_train,Y_train)

LinearRegression()

In [ ]:
y_test_predict= reg.predict(X_test)
y_test_predict

array([[ 8924.40724442],
       [ 7116.29501758],
       [36909.01352144],
       [ 9507.87469118],
       [27013.3500079 ],
       [10790.77956153],
       [  226.29844571],
       [16942.71599941],
       [ 1056.63079407],
       [11267.91997309],
       [28048.59793155],
       [ 9424.36324087],
       [ 5326.32232088],
       [38460.06017922],
       [40303.40597026],
       [37147.01010262],
       [15287.91876684],
       [35965.05485917],
       [ 9179.1753067 ],
       [31510.8319849 ],
       [ 3797.79068365],
       [10070.82803304],
       [ 2312.57551348],
       [ 7074.41348194],
       [11352.37224357],
       [12907.77079523],
       [14448.84678727],
       [ 6205.65997921],
       [ 9917.00839638],
       [ 2239.50032819],
       [ 9060.55469043],
       [13120.56214535],
       [ 4617.70702822],
       [ 3467.91218926],
       [ 4402.74821855],
       [12967.91608907],
       [ 1927.44498944],
       [ 8757.9180081 ],
       [33324.35180597],
       [32638.47697026],
       [ 3852.41756615],
       [ 4370.39670883],
       [14080.76023234],
       [11478.63402576],
       [ 8829.26135924],
       [12046.15119133],
       [ 5322.80515731],
       [ 3100.71182484],
       [35546.60547574],
       [ 9201.61196817],
       [15894.23763341],
       [ 2406.04003607],
       [12397.52052544],
       [ 1433.90617387],
       [13448.14094304],
       [12519.54174599],
       [ 4295.28664609],
       [32202.67982224],
       [13263.171278  ],
       [12842.10998145],
       [14111.93665793],
       [10551.59361363],
       [16298.16745307],
       [ 7818.15570419],
       [11787.5726767 ],
       [ 4113.26897366],
       [26596.69895299],
       [10998.86488364],
       [ 2193.72748353],
       [ 6139.35587246],
       [10668.53569182],
       [11573.9066314 ],
       [11041.12265049],
       [ 9226.58405681],
       [12007.44404757],
       [ 6811.43260247],
       [ 7191.83534635],
       [10790.05517482],
       [ 6639.37239748],
       [ 8711.93118512],
       [ 3824.75581175],
       [36583.59532017],
       [ 6321.81241487],
       [30776.79577931],
       [34875.57159272],
       [35221.47920524],
       [ 7079.6173919 ],
       [12906.65057781],
       [ 9989.1664665 ],
       [14409.60808941],
       [17632.66059003],
       [35329.860348  ],
       [32980.23882829],
       [ 6136.20837946],
       [32051.98799937],
       [ 9422.40290935],
       [29504.90196714],
       [ 3732.73937642],
       [28359.80070947],
       [ 5779.65825838],
       [ 5456.76178371],
       [ 1827.69473369],
       [11549.90308087],
       [15012.88613485],
       [11657.94522782],
       [ 4363.64612857],
       [ 9957.82591489],
       [31781.66667504],
       [ -129.15666671],
       [32890.39693986],
       [ 3219.18553916],
       [10224.50053069],
       [14265.38958083],
       [31584.36114122],
       [11409.59610007],
       [ 3867.75510966],
       [13059.64952969],
       [31756.32678896],
       [ 8214.15949009],
       [ 3287.68482341],
       [ 8383.13242816],
       [10636.53442336],
       [15157.79567852],
       [ 5702.50803854],
       [ 3836.57711344],
       [10272.53498033],
       [10956.58803242],
       [11071.81222693],
       [14496.65293874],
       [ 7476.92979541],
       [ 5450.7838718 ],
       [ 9288.29781036],
       [ 9399.10130723],
       [12476.31967945],
       [ 8278.36782145],
       [15269.65350487],
       [ 8352.0773264 ],
       [31738.37507699],
       [35819.0919374 ],
       [31547.64757647],
       [ 6063.62004331],
       [12551.29214568],
       [ 6068.87670979],
       [14599.41823771],
       [ 2561.45561332],
       [32910.51327403],
       [ 6315.23815745],
       [ 4979.52619562],
       [14384.66253028],
       [ 6884.14533684],
       [38706.08936188],
       [ 3136.57875731],
       [ 5933.09672913],
       [31625.64350684],
       [11596.31482335],
       [ 8417.73814018],
       [14754.03399782],
       [ 9879.46313846],
       [27160.43717287],
       [33395.00044119],
       [14499.08558691],
       [ 1735.96411757],
       [13118.53913261],
       [ 2176.90038413],
       [ 5388.3723652 ],
       [11622.93526416],
       [39740.86555088],
       [36545.08554993],
       [33944.7368711 ],
       [ 3840.12640295],
       [ 7412.53476742],
       [ 8602.72483011],
       [12382.55575653],
       [ 4865.6463079 ],
       [ 1994.45684083],
       [32178.79507351],
       [25053.78358388],
       [17536.06907271],
       [26471.06879885],
       [10217.73115571],
       [37210.3346986 ],
       [ -477.16780371],
       [ 6841.29733603],
       [ 7720.38130108],
       [ 4324.62825932],
       [ 5148.0933114 ],
       [ 5866.88847075],
       [ 4252.37584458],
       [15235.17791982],
       [11184.09152901],
       [ 6865.81092558],
       [ 2473.47336319],
       [ 1492.04619416],
       [31876.36248207],
       [16467.91708528],
       [12070.84318949],
       [ 1321.2739762 ],
       [12481.98404136],
       [ 1516.49611385],
       [ 8688.35998638],
       [ 1929.99456629],
       [33965.04310923],
       [10902.16179703],
       [ 2652.65198314],
       [25737.23494393],
       [26409.75401731],
       [ 9484.12006941],
       [ 1858.05146312],
       [13312.36096237],
       [ 1075.29369445],
       [10343.96143124],
       [10640.16353845],
       [16869.18074438],
       [26909.56154116],
       [ 7008.93073183],
       [ 5143.45838554],
       [ 5911.31580735],
       [13297.21771797],
       [11170.92069347],
       [ 8419.97039114],
       [ 5174.40556158],
       [12343.87783448],
       [13902.30234269],
       [35823.29733596],
       [ 4200.49918603],
       [28974.98455685],
       [ -959.29164157],
       [ 2918.94252879],
       [11110.5125204 ],
       [15731.80607464],
       [ 5263.76292369],
       [ 6952.83452504],
       [ 3804.57987076],
       [31256.71206045],
       [ 7305.58851362],
       [12461.33830574],
       [ 5664.21701114],
       [ 9467.26109398],
       [36360.68777321],
       [ 4486.61219507],
       [ 9633.32288878],
       [31093.62476199],
       [ 5787.94047478],
       [ 4665.96142198],
       [ 1100.68575505],
       [ 4877.83258252],
       [ 4521.289931  ],
       [ 6448.7580369 ],
       [18700.99259398],
       [-1483.15281815],
       [ 2319.79804103],
       [10631.36072374],
       [ 3100.2784844 ],
       [10170.02300527],
       [ 3777.51558282],
       [ 5184.56040253],
       [12348.21008641],
       [ 6259.90128781],
       [ 8190.47916435],
       [ 7537.06854145],
       [ 8973.20505699],
       [10544.17289411],
       [27868.40112099],
       [39116.96866869],
       [11814.55556842],
       [ 7638.1077356 ],
       [40959.08172164],
       [12258.22852853]])

In [ ]:
X_test.shape

(268, 6)

In [ ]:
Y_test.shape

(268, 1)

In [ ]:
c=reg.intercept_
c

array([-11675.32230125])

In [ ]:
m = reg.coef_
m

array([[ 2.57056264e+02, -1.87914567e+01,  3.35781491e+02,
         4.25091456e+02,  2.36478181e+04, -2.71284266e+02]])

In [ ]:
from sklearn.metrics import r2_score

In [ ]:
r2_score(Y_test,y_test_predict )

0.7833463107364539